* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #111;
    color: #333;
    scroll-behavior: smooth;
  }
  
  header {
    background: #111;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    font-family: helvetica;
    color: white;
  }
 .btn-shop{
  text-decoration: none;
  background: white;
  border-radius: 13px;
  padding: 13px;
  margin-top: 12px;
  font-family: helvetica;
  color: black;
 }
 .btn-shop:hover{
  box-shadow: 0 0 15px black, 0 0 25px black;
  transform: scale(1.05);
 }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #e91e63;
  }
  

  
  .hero {
    background: url(1597802.jpg) no-repeat center/cover;
   
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: helvetica;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  



  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  

  
  footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    
   
  }

  

  textarea {
    resize: vertical;
  }
  
  @media (max-width: 968px) {
    .hero h1 {
      font-size: 2.5em;
    }
     p {
    font-size: 14px;
  }
    .section {
    padding: 20px 10px;
  }

    }








